*{
font-family: "poppins";
}


.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
   
   
   }
   
   .header{
   display: flex;
       align-items:center;
   padding-top: 30px;
   padding-bottom: 30px;
   }
   
   .icon{
       padding-left: 54px;
       padding-right: 266px;
       cursor: pointer;
      
   }
   
   
   
   .menu{
      display: flex;
       align-items: center;
       gap: 75px;
       padding-right: 160.33px;
       cursor: pointer;
       
   }
   
   .menu h3:hover{
       transition-duration: 3s;
       background-color:#101820FF;
       color: #FEE715FF;
       border-radius: 15px;
   }
   
   .icons{
       display: flex;
       align-items:center;
       gap: 47.33px;
       padding-right: 100px;
       
       cursor: pointer;
   }
   
   .icons img:hover{
       transition-duration: 2s;
       background-color: #E94B3CFF;
       color:#101820FF;
       border-radius:50px
   }
   
   .main_header{
    display: flex;
    background: #F9F1E7;

   }


   .main_header home{
    width: 82px;
height: 24px;
top: 152px;
left: 99px;

padding-right: 20px;

   }

  
  

   .main_header shop{
    width: 82px;
height: 24px;
top: 152px;
left: 205px;
gap: 0px;
opacity: 0px;

   }

   .main_header line{
    width: 37px;
height: 0px;
top: 145px;
left: 312px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
angle: -90 deg;
border: 2px solid #9F9F9F
   }

   .asgard{
    width: 108px;
height: 24px;
top: 151px;
left: 346px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

   }

   .mained{
    display: flex;
   }

   .main img {
    display: block;
    width: 76px;
    height: 80px;
  padding-top: 35px;
    padding-left: 99px;

    
   }

   .chair{
    width: 481px;
height: 500px;
padding-top: 35px;
padding-left: 35px;
gap: 0px;
opacity: 0px;

   }

   .asgardrs{
    padding-left: 83px;
    padding-top: 35px;
   }
   
   .customer{
    display: flex;
    gap: 20px;
   }

   .asgardrs img:hover{
background-color:rgb(30, 195, 210);
cursor: pointer;
   }

.button a button{
    width: 215px;
    height: 64px;
    border:2px;
    border-radius:12px
}

.button a button:hover{
    background-color:#E94B3CFF ;
    color: blue;
    transition-duration: 3s;
    border-radius:75px
}

.sku{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}

.uks{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
}

.dar{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 53px;
}

.matn{
    width: 1026px;
height: 174px;
top:37px;
padding-left: 207px;



}

.images{
    display: flex;
    gap:50px;
    justify-content: center;
    background-repeat: no-repeat;
    text-align: center;
}
.imgg{
    background-color:#F9F1E7;
}